body {
    background-color: lightgray;
}

#category-btn:hover {
    color: white;
    background-color: darkgrey;
    transition: 0.8s;
}

.row {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}